In [4]:
from urllib2 import urlopen # Для работы с адресами

In [27]:
##Нефтевики
url_GP = "http://export.finam.ru/SIBN_140101_150101.csv?market=1&em=2&code=SIBN&apply=0&df=1&mf=0&yf=2014&from=01.01.2014&dt=1&mt=0&yt=2015&to=01.01.2015&p=3&f=SIBN_140101_150101&e=.csv&cn=GazProm&dtf=1&tmf=1&MSOR=1&mstime=on&mstimever=1&sep=3&sep2=1&datf=1&at=1"
f = urlopen(url_GP)   # Открыли 
data_GP = f.read()   # Прочитали данные.
f.close()          # Закрыли

url_Lk = "http://export.finam.ru/LKOH_140101_150101.csv?market=1&em=8&code=LKOH&apply=0&df=1&mf=0&yf=2014&from=01.01.2014&dt=1&mt=0&yt=2015&to=01.01.2015&p=3&f=LKOH_140101_150101&e=.csv&cn=LKOH&dtf=1&tmf=1&MSOR=1&mstime=on&mstimever=1&sep=1&sep2=1&datf=1&at=1"
f = urlopen(url_Lk)  
data_Lk = f.read()   
f.close()          

url_RN = "http://export.finam.ru/ROSN_140101_150101.csv?market=1&em=17273&code=ROSN&apply=0&df=1&mf=0&yf=2014&from=01.01.2014&dt=1&mt=0&yt=2015&to=01.01.2015&p=3&f=ROSN_140101_150101&e=.csv&cn=ROSN&dtf=1&tmf=1&MSOR=1&mstime=on&mstimever=1&sep=1&sep2=1&datf=1&at=1"
f = urlopen(url_RN)  
data_RN = f.read()   
f.close()          

url_SN = "http://export.finam.ru/SNGS_140101_150101.csv?market=1&em=4&code=SNGS&apply=0&df=1&mf=0&yf=2014&from=01.01.2014&dt=1&mt=0&yt=2015&to=01.01.2015&p=3&f=SNGS_140101_150101&e=.csv&cn=SNGS&dtf=1&tmf=1&MSOR=1&mstime=on&mstimever=1&sep=1&sep2=1&datf=1&at=1"
f = urlopen(url_SN)   
data_SN = f.read()   
f.close()

In [7]:
##Сотовые операторы
url_MTS = "http://export.finam.ru/MTSS_140101_150101.csv?market=1&em=15523&code=MTSS&apply=0&df=1&mf=0&yf=2014&from=01.01.2014&dt=1&mt=0&yt=2015&to=01.01.2015&p=3&f=MTSS_140101_150101&e=.csv&cn=MTSS&dtf=1&tmf=1&MSOR=1&mstime=on&mstimever=1&sep=1&sep2=1&datf=1&at=1"
f = urlopen(url_MTS)   
data_MTS = f.read()   
f.close()       

url_MF = "http://export.finam.ru/MFON_140101_150101.csv?market=1&em=152516&code=MFON&apply=0&df=1&mf=0&yf=2014&from=01.01.2014&dt=1&mt=0&yt=2015&to=01.01.2015&p=3&f=MFON_140101_150101&e=.csv&cn=MFON&dtf=1&tmf=1&MSOR=1&mstime=on&mstimever=1&sep=1&sep2=1&datf=1&at=1"
f = urlopen(url_MF)   
data_MF = f.read()   
f.close()

In [8]:
##Банки
url_VTB = "http://export.finam.ru/VTBR_140101_150101.csv?market=1&em=19043&code=VTBR&apply=0&df=1&mf=0&yf=2014&from=01.01.2014&dt=1&mt=0&yt=2015&to=01.01.2015&p=3&f=VTBR_140101_150101&e=.csv&cn=VTBR&dtf=1&tmf=1&MSOR=1&mstime=on&mstimever=1&sep=1&sep2=1&datf=1&at=1"
f = urlopen(url_VTB)   
data_VTB = f.read()   
f.close()      

url_RB = "http://export.finam.ru/ROSB_140101_150101.csv?market=1&em=16866&code=ROSB&apply=0&df=1&mf=0&yf=2014&from=01.01.2014&dt=1&mt=0&yt=2015&to=01.01.2015&p=3&f=ROSB_140101_150101&e=.csv&cn=ROSB&dtf=1&tmf=1&MSOR=1&mstime=on&mstimever=1&sep=1&sep2=1&datf=1&at=1"
f = urlopen(url_RB)   
data_RB = f.read()   
f.close()   

url_SB = "http://export.finam.ru/SBER_140101_150101.csv?market=1&em=3&code=SBER&apply=0&df=1&mf=0&yf=2014&from=01.01.2014&dt=1&mt=0&yt=2015&to=01.01.2015&p=3&f=SBER_140101_150101&e=.csv&cn=SBER&dtf=1&tmf=1&MSOR=1&mstime=on&mstimever=1&sep=1&sep2=1&datf=1&at=1"
f = urlopen(url_SB)   
data_SB = f.read()   
f.close()

In [19]:
from pandas import DataFrame, read_csv  # Стандартный DataFrame
from pandas import set_option

In [32]:
##Табличка по Газпрому
data_GP = read_csv(url_GP, header=0, index_col=0, parse_dates={'': [0, 1]}, sep=';').sort_index()
data_GP.columns = ['' + i for i in ['Data','Time','Open', 'High', 'Low', 'Close', 'Volume']] # Заголовки столбцов


set_option('display.max_columns', 50) # Кол-во колонок
set_option('display.width', 500)      # Ширина поля вывода

In [41]:
print(data_GP.head())

               Data    Time    Open    High     Low   Close  Volume

GazProm 5  20140106  102500  146.84  147.38  146.51  147.38     510
GazProm 5  20140106  103000  147.37  147.37  147.37  147.37      10
GazProm 5  20140106  104500  147.35  147.37  146.77  146.77     370
GazProm 5  20140106  105000  146.81  146.81  146.81  146.81      10
GazProm 5  20140106  110500  146.79  146.79  146.70  146.72    2180

In [49]:
len(data_GP)

19195

In [66]:
##Табличка по Лукойлу
data_Lk = read_csv(url_Lk, header=0, index_col=0, parse_dates={'': [0, 1]}, sep=',').sort_index()
data_Lk.columns = ['' + i for i in ['Data','Time','Open', 'High', 'Low', 'Close', 'Volume']] # Заголовки столбцов


set_option('display.max_columns', 50) # Кол-во колонок
set_option('display.width', 500)      # Ширина поля вывода

In [51]:
print(data_Lk.head())  # Вывод верха таблицы

            Data    Time    Open    High     Low   Close  Volume

LKOH 5  20140106  100500  2017.9  2023.0  2010.2  2014.0    8472
LKOH 5  20140106  101000  2015.5  2016.9  2012.6  2014.1    4462
LKOH 5  20140106  101500  2016.8  2017.4  2011.8  2011.8    3690
LKOH 5  20140106  102000  2012.2  2013.7  2010.1  2012.5    4943
LKOH 5  20140106  102500  2011.8  2013.7  2010.6  2010.6    2487

In [67]:
len(data_Lk)

26160

In [52]:
##Табличка по РосНефти
data_RN = read_csv(url_RN, header=0, index_col=0, parse_dates={'': [0, 1]}, sep=',').sort_index()
data_RN.columns = ['' + i for i in ['Data','Time','Open', 'High', 'Low', 'Close', 'Volume']] # Заголовки столбцов


set_option('display.max_columns', 50) # Кол-во колонок
set_option('display.width', 500)      # Ширина поля вывода

In [55]:
print(data_RN.head())  # Вывод верха таблицы

            Data    Time    Open    High     Low   Close  Volume

ROSN 5  20140106  100500  247.10  248.00  243.10  245.57  378710
ROSN 5  20140106  101000  245.58  245.90  245.16  245.50   27990
ROSN 5  20140106  101500  245.70  246.00  245.26  245.51   57340
ROSN 5  20140106  102000  245.51  245.69  245.21  245.50   41990
ROSN 5  20140106  102500  245.60  245.90  245.27  245.27   52370

In [68]:
len(data_RN)

26154

In [56]:
##Табличка по СургутНефть
data_SN = read_csv(url_SN, header=0, index_col=0, parse_dates={'': [0, 1]}, sep=',').sort_index()
data_SN.columns = ['' + i for i in ['Data','Time','Open', 'High', 'Low', 'Close', 'Volume']] # Заголовки столбцов


set_option('display.max_columns', 50) # Кол-во колонок
set_option('display.width', 500)      # Ширина поля вывода

In [57]:
print(data_SN.head())  # Вывод верха таблицы

            Data    Time    Open    High     Low   Close  Volume

SNGS 5  20140106  100500  28.200  28.250  27.911  27.930  445900
SNGS 5  20140106  101000  27.971  28.048  27.910  27.925  160600
SNGS 5  20140106  101500  27.949  27.949  27.864  27.887  151700
SNGS 5  20140106  102000  27.877  27.888  27.820  27.888  198100
SNGS 5  20140106  102500  27.888  27.900  27.850  27.892  158100

In [69]:
len(data_SN)

26137

In [58]:
##Табличка по МТС
data_MTS = read_csv(url_MTS, header=0, index_col=0, parse_dates={'': [0, 1]}, sep=',').sort_index()
data_MTS.columns = ['' + i for i in ['Data','Time','Open', 'High', 'Low', 'Close', 'Volume']] # Заголовки столбцов


set_option('display.max_columns', 50) # Кол-во колонок
set_option('display.width', 500)      # Ширина поля вывода

In [59]:
print(data_MTS.head())  # Вывод верха таблицы

            Data    Time    Open    High     Low   Close  Volume

MTSS 5  20140106  100500  323.57  325.45  323.51  324.11    9090
MTSS 5  20140106  101000  324.20  324.20  323.28  323.28    9450
MTSS 5  20140106  101500  323.69  324.07  322.70  322.93   10980
MTSS 5  20140106  102000  322.93  323.03  321.40  322.13   20730
MTSS 5  20140106  102500  322.22  323.94  322.18  323.00    7410

In [70]:
len(data_MTS)

25186

In [71]:
##Табличка по Мегафону
data_MF = read_csv(url_MF, header=0, index_col=0, parse_dates={'': [0, 1]}, sep=',').sort_index()
data_MF.columns = ['' + i for i in ['Data','Time','Open', 'High', 'Low', 'Close', 'Volume']] # Заголовки столбцов


set_option('display.max_columns', 50) # Кол-во колонок
set_option('display.width', 500)      # Ширина поля вывода

In [72]:
print(data_MF.head())  # Вывод верха таблицы

            Data    Time    Open    High     Low   Close  Volume

MFON 5  20140106  101000  1087.1  1087.1  1085.7  1085.7     360
MFON 5  20140106  101500  1086.0  1099.9  1085.6  1085.6     610
MFON 5  20140106  102000  1085.6  1085.7  1085.5  1085.5     510
MFON 5  20140106  102500  1085.6  1085.6  1085.6  1085.6      20
MFON 5  20140106  105000  1092.9  1099.2  1092.9  1099.2     180

In [73]:
len(data_MF)

15560

In [61]:
##Табличка по ВТБ
data_VTB = read_csv(url_VTB, header=0, index_col=0, parse_dates={'': [0, 1]}, sep=',').sort_index()
data_VTB.columns = ['' + i for i in ['Data','Time','Open', 'High', 'Low', 'Close', 'Volume']] # Заголовки столбцов


set_option('display.max_columns', 50) # Кол-во колонок
set_option('display.width', 500)      # Ширина поля вывода

In [62]:
print(data_VTB.head())  # Вывод верха таблицы

            Data    Time     Open     High      Low    Close     Volume

VTBR 5  20140106  100500  0.04930  0.04950  0.04905  0.04919  286490000
VTBR 5  20140106  101000  0.04919  0.04930  0.04918  0.04920  120420000
VTBR 5  20140106  101500  0.04921  0.04926  0.04920  0.04921  105940000
VTBR 5  20140106  102000  0.04921  0.04923  0.04910  0.04916  259780000
VTBR 5  20140106  102500  0.04916  0.04916  0.04910  0.04914   48480000

In [74]:
len(data_VTB)

26162

In [63]:
##Табличка по РусБанк
data_RB = read_csv(url_RB, header=0, index_col=0, parse_dates={'': [0, 1]}, sep=',').sort_index()
data_RB.columns = ['' + i for i in ['Data','Time','Open', 'High', 'Low', 'Close', 'Volume']] # Заголовки столбцов


set_option('display.max_columns', 50) # Кол-во колонок
set_option('display.width', 500)      # Ширина поля вывода

In [64]:
print(data_RB.head())  # Вывод верха таблицы

            Data    Time   Open   High    Low  Close  Volume

ROSB 5  20140106  112000  46.00  46.00  46.00  46.00      10
ROSB 5  20140106  121500  45.01  45.01  45.01  45.01      10
ROSB 5  20140106  123000  45.50  45.50  45.50  45.50      30
ROSB 5  20140106  132500  45.50  45.50  45.50  45.50     120
ROSB 5  20140106  155500  45.58  45.58  45.58  45.58      10

In [75]:
len(data_RB)

2342

In [76]:
##Табличка по СберБанку
data_SB = read_csv(url_SB, header=0, index_col=0, parse_dates={'': [0, 1]}, sep=',').sort_index()
data_SB.columns = ['' + i for i in ['Data','Time','Open', 'High', 'Low', 'Close', 'Volume']] # Заголовки столбцов


set_option('display.max_columns', 50) # Кол-во колонок
set_option('display.width', 500)      # Ширина поля вывода

In [77]:
print(data_SB.head())  # Вывод верха таблицы

            Data    Time    Open    High    Low   Close  Volume

SBER 5  20140106  100500  100.20  100.31  99.70   99.82  914080
SBER 5  20140106  101000   99.81  100.01  99.79   99.96  280670
SBER 5  20140106  101500   99.96   99.99  99.90   99.96  152880
SBER 5  20140106  102000   99.96  100.06  99.91  100.06  458290
SBER 5  20140106  102500  100.05  100.10  99.97  100.07  142660

In [78]:
len(data_SB)

26163